<html>
    <head>
        <title>Andrew's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Seltsamermann Blog</a></h1>
        </div>

        <div>
            <p>published: 28.12.2020, 15:15</p>
            <h2><a href="">My first post</a></h2>
            <p>Dori me interimo adapare dori me <br>
            Ameno ameno lantire lantiremo dori me</p>
        </div>

        <div>
            <p>published: 28.12.2020, 15:15</p>
            <h2><a href="">My second post</a></h2>
            <p>А тут немного бессмысленного текста, исключительно для проверки читаемости русского языка.</p>
        </div>
    </body>
</html>
